 <% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
            <% }) %>
        </ul>
    <% } %>

<form method="POST" action="/account/register">
    <label for="first-name" class="form-label">First Name:</label>
    <input type="text" class="form-input" id="first-name" name="account_firstname" required>
    <label for="last-name" class="form-label">Last Name:</label>
    <input type="text" class="form-input" id="last-name" name="account_lastname" required>
    <label for="client-email" class="form-label">Email:</label>
    <input type="email" class="form-input" id="client-email" name="account_email" required>
    <label for="client-password" class="form-label">Password:</label>
     <div>The password must be:
<ul>
    <li>12 characters in length, minimum</li>
    <li>contain at least 1 capital letter</li>
    <li>contain at least 1 number</li>
    <li>contain at least 1 special character</li>
</ul>
</div>
    <input type="password" class="form-input" id="client-password" name="account_password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required>
    <button type="submit" class="form-buttom" id="Register-button">Register</button>
   
</form>