 <% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
            <% }) %>
        </ul>
    <% } %>

<form method="POST" action="/inv/add-inventory" id="add-inventory-form">

    <label for="classificationList">Classification:</label>
    <br>
    <%- classificationList %>
    <br>
    <label for="inv_make">Make:</label>
    <input type="text" class="form-input" id="inv_make" name="inv_make" required>
    <label for="inv_model">Model:</label>
    <input type="text" class="form-input" id="inv_model" name="inv_model" required>
    <label for="inv_year">Year:</label>
    <input type="number" class="form-input" id="inv_year" name="inv_year" required>
    <label for="inv_description">Description:</label>
    <textarea class="form-input" id="inv_description" name="inv_description" required></textarea>
    <label for="inv_image">Image Path:</label>
    <input type="text" class="form-input" id="inv_image" name="inv_image" value="images/vehicles/no-image.png" required>
    <label for="inv_thumbnail">Thumbnail Path:</label>
    <input type="text" class="form-input" id="inv_thumbnail" name="inv_thumbnail" value="/images/vehicles/no-image.png" required>
    <label for="inv_price">Price:</label>
    <input type="number" class="form-input" id="inv_price" name="inv_price" required>
    <label for="inv_miles">Miles:</label>
    <input type="number" class="form-input" id="inv_miles" name="inv_miles" required>
    <label for="inv_color">Color:</label>
    <input type="text" class="form-input" id="inv_color" name="inv_color" required>
    <button type="submit">Add Inventory</button>
</form>